body{
    background-color: aliceblue;
    margin-left: 15%;
    margin-right: 15%;
}
div>h3{
    background-color: lightgray;
	color: goldenrod;
	text-transform: uppercase;
    text-decoration: underline;
    text-align: left;
    font-size: x-large;
}
#mainTitle{
    background-color: lightgray;
    color: goldenrod;
	text-decoration: underline;
	text-align: center;
}

#pieType{
	list-style: none;
	padding-left: 0px;
}
.underLine{
    text-decoration: underline;
}
#header,#ingredients,#directions,#comments{
    background-image:url("images/silverware.jpg");
	border-bottom: 1px solid black;
}
#directions ul{
    list-style-image:url("images/pie_icon.gif")
}
#comments p{
    background-color:#cabe5775;
    font-style: italic;
}
.author{
	margin-top: 1em;
	display: block;
}
.block{
    display: block;
}

#footer{
	text-align: left;
}